1 <head>
    2 <meta charset="UTF-8">
    3 <meta http-equiv="X-UA-Compatible" content="IE=edge">
    4 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    5 <title><title> Antoine Mpinga Kalambayi| CSE 340 App</title>
    6 <link rel="stylesheet" href="/css/styles.css">
    7 </head>